@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);

    --main-heading-stats: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background);
    font-size: 15px;
    color: var(--main-heading-stats);
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 160px;
}

#conteudo{
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    width: 500px;
    height: 360px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

img{
    height: 360px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 99;
    opacity: 0.5;
}

#imagem{
    background-color: rgb(115, 32, 163);    
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 360px;
}

h1{
    font-family: 'Inter', sans-serif;
    /* font-family: 'Lexend Deca', sans-serif; */
    margin: 60px;
    margin-bottom: 0px;
    line-height: 33px;
    font-size: 30px;
}

span{
    color: var(--accent)
}

.texto{
    font-family: 'Inter', sans-serif;
    color: var(--main-paragraph);
    margin: 60px;
    margin-top: 22px;
    font-size: 12px;
    line-height: 20px;
}

#dados{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

.primeiro{
    font-family: 'Inter', sans-serif;
    /* font-family: 'Lexend Deca', sans-serif; */
    font-size: 18px;
    padding-bottom: 7px;
    font-weight: bold;
    letter-spacing: 2px;
}

.segundo{
    font-family: 'Inter', sans-serif;
    color: var(--stat-headings);
    font-size: 10px;
    padding-right: 50px;
    letter-spacing: 2px;
}













